#java-development {
    background: url(../images/background/java.jpg);
    padding: 70px 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
}
.java-development-services, .java-j2ee-development, .java-product-development, .java-migration-services {
    background: rgba(224, 216, 216, 0.2);
}
#java-development h3, #java-development p {
    color: #fff;
}
.text-container {
    min-height: 400px;
    position: relative;
}
.text-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.text-aria {
    vertical-align: middle;
    display: table-cell;
}
.java-product-development .col-md-6, .java-development-services .col-md-6, .java-app-development .col-md-6, .java-j2ee-development .col-md-6, .java-custom-development .col-md-6, .java-support-services .col-md-6, .java-migration-services .col-md-6 {
    min-height: 400px;
    display: table;
}
.java-product-development #image, .java-development-services #image, .java-app-development #image, .java-j2ee-development #image, .java-custom-development #image, .java-support-services #image, .java-migration-services #image {
    min-height: 400px;
    vertical-align: middle;
    display: table-cell;
}
.java-product-development #image img, .java-development-services #image img, .java-app-development, #image img, .java-j2ee-development #image img, .java-custom-development #image img, .java-support-services #image img, .java-migration-services #image img {
    max-width: 400px;
}



@media(max-width:767px) {
	.java-product-development .col-md-6, .java-development-services .col-md-6, .java-app-development .col-md-6, .java-j2ee-development .col-md-6, .java-custom-development .col-md-6, .java-support-services .col-md-6, .java-migration-services .col-md-6 {
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.java-product-development #image, .java-development-services #image, .java-app-development #image, .java-j2ee-development #image, .java-custom-development #image, .java-support-services #image, .java-migration-services #image {
    min-height: 100px;
}
.text-container {
    min-height: 100px;
}
.text-container .text-overlay {
    position: relative;
}

}